################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlizzardApi/bin
/BlizzardApi/obj
/CsLua/bin
/CsLua/obj
/GH/bin/Release
/GH/obj
/GHD/bin
/GHD/obj
/GHD/StyleCop.Cache
/GHF/bin
/GHF/obj
/GHF/StyleCop.Cache
/GHG/bin
/GHG/obj
*.Cache
/GHI/bin/Debug
/GHI/obj/Debug
/GHX/bin
/GHX/obj
/Lua/bin
/Lua/obj
/TestResults
/Tests/bin
/Tests/obj
/CsLuaConverter/CsToLua.pdb
/CsLuaConverter/CsToLua.vshost.exe
/CsLuaConverter/CsToLua.vshost.exe.manifest
/GHF/GHF.csproj.user
