################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlizzardApi/bin
/BlizzardApi/obj
/CsLua/bin
/CsLua/obj
/GH/bin/Release
/GH/obj
/GHD/bin
/GHD/obj
/GHD/StyleCop.Cache
/GHF/bin
/GHF/obj
/GHF/StyleCop.Cache
/GHG/bin
/GHG/obj
*.Cache
/GHI/bin/Debug
/GHI/obj/Debug
/GHX/bin
/GHX/obj
/Lua/bin
/Lua/obj
/TestResults
/Tests/bin
/Tests/obj
/CsLuaConverter/CsToLua.pdb
/CsLuaConverter/CsToLua.vshost.exe
/CsLuaConverter/CsToLua.vshost.exe.manifest
/GHF/GHF.csproj.user
GH/bin/Debug/BlizzardApi.dll
GH/bin/Debug/BlizzardApi.pdb
GH/bin/Debug/CsLua.pdb
GH/bin/Debug/GH.pdb
GH/bin/Debug/Lua.dll
GH/bin/Debug/GH.exe
GH/bin/Debug/GH.exe.config
GH/bin/Debug/CsLua.dll
GH/bin/Debug/Lua.pdb
GHM/bin/Debug/GHM.dll
GHM/bin/Debug/GHM.pdb
GHM/obj/Debug/GHM.csproj.FileListAbsolute.txt
GHM/obj/Debug/GHM.dll
GHM/obj/Debug/GHM.pdb
GHM/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GHM/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GHM/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GH/bin/Debug/GH.vshost.exe
/GH/bin/Debug/GH.vshost.exe.config
/GHD/GHD.csproj.user
/GH/bin/Debug/GH.vshost.exe.manifest
/GHM/GHM.csproj.user
/CsLuaConverter/DebugOutput
/CsLuaTest/bin/Debug
/CsLuaTest/obj/Debug/TempPE
/CsLuaTest/obj/Debug
*.pdb
*.manifest
*.suo
*.user
/Grinder/Grinder/bin/Debug
/Grinder/Grinder/obj/Debug
/Grinder/UnitTestProject1/obj/Debug
/Grinder/bin/Debug
/Grinder/obj/Debug
/GrinderUnitTests/bin/Debug
/GrinderUnitTests/obj/Debug
/GrinderIntegrationTests/bin/Debug
/WoWSimulator/bin/Debug
/WoWSimulator/obj/Debug
/GrinderIntegrationTests/obj/Debug
/CsLuaTestUtils/bin/Debug
/CsLuaTestUtils/obj/Debug
/CsLuaCompiler/DebugOutput
/CsLuaTestRunner/obj/Debug
/CsLuaTestRunner/bin/Debug
/GHC/bin/Debug
/GHC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GHC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GHC/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GHC/obj/Debug/GHC.dll
/GHC/obj/Debug/GHC.csproj.FileListAbsolute.txt
/ClassLibrary1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ClassLibrary1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ClassLibrary1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CsLuaConverterTrigger/bin/Debug
/CsLuaConverterTrigger/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CsLuaConverterTrigger/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CsLuaConverterTrigger/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CsLuaConverterTrigger/obj/Debug/CsLuaConverterTrigger.dll
/CsLuaConverterTrigger/obj/Debug/CsLuaConverterTrigger.csproj.FileListAbsolute.txt
/MenuTest/bin/Debug
/MenuTest/obj/Debug
/GHC/obj/Debug/build.force
/GHC/obj/Debug
/CsLuaSerialization/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CsLuaSerialization/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CsLuaSerialization/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CsLuaSerialization/obj/Debug/CsLuaSerialization.dll
/CsLuaSerialization/obj/Debug/CsLuaSerialization.csproj.FileListAbsolute.txt
/CsLuaSerialization/obj/Debug
/CsLuaSerialization/bin/Debug/Lua.dll
/CsLuaSerialization/bin/Debug/CsLuaSerialization.dll
/CsLuaSerialization/bin/Debug/CsLuaAttributes.dll
/CsLuaSerialization/bin/Debug/CsLua.dll
/CsLuaSerialization/bin/Debug
/CsLuaSerialization
/CsLuaConverterTrigger/obj/Debug/build.force
/GH/bin/Debug
/TestUtils/bin/Debug
/TestUtils/obj/Debug
/GH.UnitTests/bin/Debug
/GH.UnitTests/obj/Debug
/GH.Utils/bin/Debug
/GH.Utils/obj/Debug
/GH.Utils.Tests/obj/Debug
