<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GHD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GHD.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Gryphonheart Documents</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value>Document creation and sharing.</value>
            </setting>
            <setting name="Interface" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Dependencies" serializeAs="String">
                <value>GH</value>
            </setting>
        </GHD.Properties.Settings>
    </userSettings>
</configuration>