<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GHF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GHF.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Gryphonheart Flag</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value>Lets you specify roleplay details about your character, such as last name and appearance. Also  displays the details of other roleplayers.</value>
            </setting>
            <setting name="Interface" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="SavedVariables" serializeAs="String">
                <value>GHF_AccountProfiles</value>
            </setting>
            <setting name="Dependencies" serializeAs="String">
                <value>GH</value>
            </setting>
        </GHF.Properties.Settings>
    </userSettings>
</configuration>